<ng-container *ngFor="let troll of trolls" >
  <![CDATA[
<div class="item p-0 my-2 col col-6 col-md-4 col-xl-2 chara {{troll.categories}}" style="display:table-cell;" data-same-height="troll" >
  <table class="w-100 h-100">
    <tr>
      <td class="align-middle text-center h-100" style="vertical-align: middle;">

        <div class="icons">
          <div class="conty">
            <div class="nameconty"><h1 class="stroke">{{troll.name}}</h1></div>
            <a class="btn" href="/{{troll.name | firstname | lowercase}}" style="background-color: {{troll.blood}}; " >
              <img src="https://64.media.tumblr.com/6aa7eef0ae2f29ba6340571d431fabb8/7fbd99b593a154a5-80/s540x810/b945716e5f7aa56df1eb6dde3be30fc59dc7eeec.png" width="80%" alt="">
            </a>
            <a href="/tagged/{{troll.name | lowercase}}" class="btn" style="background-color: {{troll.blood}}; " >
              <img src="https://64.media.tumblr.com/84017439dcf5da0ddf3968fd9cdc139f/7fbd99b593a154a5-3c/s540x810/5fcedb7aa21f33cb59f344145efa13924f6d4264.png" width="80%" alt="">
            </a>
            <a class="btn" href="/tagged/{{troll.name | firstname | lowercase}}" style="background-color: {{troll.blood}};" >
              <img src="https://64.media.tumblr.com/52e02ce9f0188c28fbaa50ab4288de80/7fbd99b593a154a5-88/s540x810/a2de499683efe06ee58d7ee73078c84cdec765e0.png" width="80%" alt="">
            </a>
          </div>
        </div>
        <img class="w-100 head" src="{{troll.img}}" alt="">
      </td>
    </tr>
  </table>
</div>
]]>
</ng-container>